.cartContainer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.cartDiv {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#e0e0e0;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartItemDiv {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartItemHeader {
    display: flex;
    justify-content: space-between;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
}


