.shopDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.productCards {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
}

.productCardDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formDiv {
    display: flex;
    flex-direction: column;
}

.quantityInputDiv {
    display: flex;
    gap: 10px;
}

.prodImg {
    height: 100px;
    width: 150px;
}

input {
    border: 0.5px solid rgb(199, 197, 197);
    border-radius: 5px;
    padding: 5px;
}