.shopDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.shopTitle {
    background: #a2c11c;
    color: #fdfff0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.productCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.productCardDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    align-items: center;
    margin: 25px;
}

.formDiv {
    display: flex;
    flex-direction: column;
}

.quantityInputDiv {
    display: flex;
    gap: 10px;
}

.prodImg {
    height: 100px;
    width: 150px;
}

input {
    border: 0.5px solid rgb(199, 197, 197);
    border-radius: 5px;
    padding: 5px;
}

.productCardName {
    font-weight: 300;
}